[darkMode], [darkMode] #darkBtn, [darkMode] img, [darkMode] code.hljs, [darkMode] pre.prettyprint {
    filter: invert(1) hue-rotate(180deg);
    transition: all 0.5s
}

[darkMode] body {
    background: #ebebeb !important;
    transition: background 0.7s
}

#darkBtn {
    position: fixed;
    top: 8px;
    left: 50px;
    width: 32px;
    height: 32px;
    z-index: 9999;
    background: gold;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s
}

[darkMode] #darkBtn {
    background: transparent;
    box-shadow: -0.5em 0.3em 0 0 gold;
    left: 60px;
    top: 4px
}

#darkBtn:after {
    content: "打开夜间模式";
    width: 100px;
    position: absolute;
    right: -120px;
    top: 4px;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.5s;
    display: none
}

[darkMode] #darkBtn:after {
    content: "关闭夜间模式";
    right: -110px;
    top: 8px;
    filter: invert(1) hue-rotate(180deg);
    font-weight: 600;
}

#darkBtn:hover:after {
    display: block
}

#csdn-toolbar .toolbar-advert, #csdn-toolbar .toolbar-container-left, #csdn-toolbar .toolbar-container-right, .toolbar-search-drop-menu.toolbar-search-half, ::-webkit-input-placeholder, #placeholder, #blogColumnPayAdvert, .csdn-side-toolbar, #dmp_ad_58, #footerRightAds, .csdn-shop-window-common, .login-mark, .blog-footer-bottom, .template-box, .leftPop, #toolBarBox, .comment-edit-box.d-flex, #passportbox, .opt-box.text-center, .hide-article-box.hide-article-pos.text-center, #rightAside, .hljs-button.signin {
    display: none !important;
    color: transparent;
    visibility: hidden
}

.toolbar-search.onlySearch {
    transition: all 0.3s ease;
}

body #csdn-toolbar {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .15);
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1993;
}

.toolbar-search.onlySearch:focus-within {
    max-width: 1000px !important;
    width: 1000px !important
}

.d-flex {
    display: block !important
}

.main_father {
    height: auto !important;
}

main {
    width: 100% !important;
    box-shadow: 0 0 30px #959fa378;
    margin-bottom: 0 !important;
}

#mainBox {
    margin: 50px auto;
    width: 1000px !important
}

.comment-list-box {
    max-height: none !important
}

#commentPage, .toolbar-container-middle {
    display: block !important
}

#article_content {
    height: auto !important
}

.comment-list-container {
    padding: 4px 0 !important
}

.article-header-box {
    padding-top: 18px !important
}

main .comment-box {
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin: 8px 0;
}

#FinnTop {
    width: 36px;
    height: 36px;
    color: #ff4d4d;
    font: 600 14px/44px arial;
    text-align: center;
    position: fixed;
    left: 50%;
    margin-left: 520px;
    bottom: 80px;
    z-index: 999;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px #75757545;
}

#FinnTop:before {
    content: "";
    position: absolute;
    left: 28%;
    top: 16%;
    color: #ff4d4d;
    width: 14px;
    height: 14px;
    border-top: 2px solid #ff4d4d;
    border-left: 2px solid #ff4d4d;
    transform: rotate(45deg)
}

.blog_container_aside {
    height: calc(100% - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    border: solid #fff;
    border-width: 20px 4px 0 4px;
    background: #fff;
    box-sizing: content-box;
    position: fixed;
    top: initial !important;
    left: -307.8px !important;
    ;
    transition: all 0.35s;
    box-shadow: 2px 0 10px 0 rgba(0, 0, 0, .15);
    z-index: 99;
}

.blog_container_aside::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.13);
    background-color: #fefefe;
}

.blog_container_aside::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #eee;
}

.blog_container_aside::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #cecece;
}

.blog_container_aside:hover {
    left: 0px !important;
}

.recommend-box.insert-baidu-box {
    height: 79%;
    overflow: scroll;
    position: fixed;
    background: #fff;
    box-sizing: content-box;
    transition: all 0.38s;
    box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, .25);
    border: 10px solid #fff;
    z-index: 1995;
    top: calc(100% - 7px);
    left: 0;
    right: 0;
    margin: auto;
    width: 1000px;
}

.recommend-box.insert-baidu-box:hover {
    top: 29%
}

.recommend-box.insert-baidu-box::-webkit-scrollbar-thumb {
    background-color: rgba(153, 154, 170, 0.3);
}

.recommend-box.insert-baidu-box::-webkit-scrollbar {
    width: 5px;
    height: 100px;
}

.recommend-item-box {
    display: none !important;
}

.recommend-item-box.type_blog {
    display: block !important;
}

aside.blog_container_aside:before {
    width: 14px;
    animation: _l 1s ease-in forwards;
    position: fixed;
    top: 58px;
    left: 0;
    /* z-index: 999; */
    padding: 5px 1px;
    background: #ff4d4d;
    text-align: center;
    color: #fff;
    content: attr(usr);
    /* writing-mode: tb-rl; */
    font-size: 12px;
    line-height: 1.4;
    transition: all 0.35s ease;
}

@keyframes _l {
    from {
        left: -20px;
    }
    to {
        left: 0;
    }
}

aside.blog_container_aside:hover::before {
    width: 308px;
    height: 18px;
    padding: 4px 0;
    writing-mode: rl-tb;
    font-size: 14px;
}

.recommend-box.insert-baidu-box:before {
    content: "推荐阅读";
    position: fixed;
    bottom: 40px;
    left: 50%;
    margin-left: 510px;
    padding: 4px;
    background: #ff4d4d;
    color: #fff;
    font-size: 13px
}